<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
    <!-- ข้อความส่วนหัว -->
    <h1>this is header 1</h1>
    <h2 class="font-blue">this is header 2</h2>
    <h3 id="th3">this is header 3</h3>
    <h4>this is header 4</h4>
    <h5>this is header 5</h5>
    <h6>this is header 6</h6>

    <!-- เว้นบันทัด -->
    <br />

    <!-- ข้อความ -->
    <p>Hi</p>

    <!-- เว้นบันทัดแบบมีเส้น  -->
    <hr />

    <!-- form -->
    <!-- text input -->
    <input type="text" />
    
    <!-- button -->
    <button onclick="sayHello()">Click me</button>

    <!-- link -->
    <a href="http://google.com">google</a>

    <!-- image -->
    <table>
      <tr>
        <td>id</td>
        <td>name</td>
      </tr>
        <tr>
          <td>1</td>
          <td>batman</td>
        </tr>
        <tr>
          <td>2</td>
          <td>superman</td>
        </tr>
    </table>

    <!-- image -->
    <img src="https://static.wikia.nocookie.net/marvel_dc/images/a/a6/Batman_Vol_2_2_Variant_Textless.jpg/revision/latest/top-crop/width/360/height/450?cb=20120228075313" alt="">

    <!-- layout -->
    <div class="block">
      <p>Hello</p>
    </div>

    <script src="/javascripts/main.js"></script>
  </body>
</html>
